nav.navbar {
    position: fixed;
    top:0;
    width: 100%;
    background-color: transparent !important;
    padding: 25px 16px;
    overflow: hidden;
    transition: 0.4s;
    z-index: 99;
}
nav.navbar.nav_shrink {
    background-color: #212529 !important;
    padding: 8px 16px;
}

a.nav_logo {
    font-family: 'Kaushan Script', cursive;
    color: #fed136 !important;
    font-size: 1.75em;
    transition: all .1s linear;
}

a.nav_logo:hover {
    color: #FEC503 !important;
}

nav.nav_shrink a.nav_logo {
    font-size: 1.25rem;
}

div.container button.navbar-toggler {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #fed136;
    color: white;
    padding: 13px;
    border: none;

}

div.nav-menu {
    display: flex;
}

div#navbarNavAltMarkup {
    justify-content: flex-end;
}

div.nav-menu a {
    text-decoration: none;
    font-size: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important; 
    color: white !important;
}

div.nav-menu a:hover {
    color: #fed136 !important;
}



/* TOOD
어두워질 때 메뉴 바 색: #212529
로고 글씨체: 'Kaushan Script'
로고에 hover -> 색 진해짐
화면 작을 때 메뉴 MENU바
메뉴 오른쪽 정렬 
hover시 글씨 색 노란색
스크롤 내리면 배경색 생기고 scale 다운
top에 붙어 있을 때는 background transparent
*/
